extends layout

block content
  h1= title
  p Welcome to lab 10  #{title}
  p This is Northwest Missouri State University
  button(type="button", class="btn btn-secondary", onclick = "doBump()") Press Me
  #bump 
    p Bump the count. 
  script(type='text/javascript').
    let count = 0
    let bump = 1
    function doBump(){
      count+=bump 
      bump++
      document.getElementById("bump").innerHTML='Count '+count + "with bump "+ bump
    }
  a(href='desiRestaruant') Desi Restaruant page